html, body {
	background-color: #000000;
	margin: 0px;
	overflow: hidden;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 1em;
}

canvas {
	position: absolute;
	width: 100%;
	height: 100%;
	cursor: none;
	z-index: 0;
}

label {
	float: left;
	user-select: none;
}

input {
	box-sizing: border-box;	
	border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}

.overlay {
	padding: 16px;
	z-index: 499;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
}


#toggle-overlay {
	grid-column: 1/3;
}

#fps-overlay {
	grid-column: 5/6;
	font-family: 'OCR A';
	font-weight: normal;
	color: #00FF00;
	font-size: 2em;
	justify-self: end;
}

#control-overlay {
	grid-column: 1/3;
}

#overlay-grid-container {
	display: grid;
	grid-template-columns: 0.5fr 0.5fr 8fr 0.5fr 0.5fr;
	grid-template-rows: 4em auto;
	row-gap: 10px;
}

.control-block {
	margin-bottom: 8px;
	width: 100%;
}

.control-block > * {
	width: 100%;
}

.horizontal-flex-container {
	display: flex;
	justify-content: space-between;
}

.button-range-container {
	display: flex;
	justify-content: space-evenly;
}

.button-range-container > * {
	width: 30%;
}

.indicator-textbox {
	text-align: center;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto;
	place-content: center;
}

.grid-item {
}

.color-block {
	padding: 0px;
	width: 40px; 
	height: 40px;
}

.control-container {
	width: auto;
	overflow: hidden;
}

.checkbox-container > .control-container > input {
	float: right;
}

#toggle {
	width: 100%;
	background-color: #EEEEEE;
}